body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: white;
    font-family: sans-serif;
}
@keyframes pulse-border {
    0% {
        transform: scale(1); /* Start size */
        border-width: 2px;
    }
    50% {
        transform: scale(1.05); /* Slightly bigger through the animation */
        border-width: 2px;
    }
    100% {
        transform: scale(1); /* End size (back to original) */
        border-width: 2px;
    }
}
text_in_center
{
    text-align: center;
}

h1 {
    text-align: center;
    font-size: 1.5em;
}
section {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}
input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid lightgray;
}
button {
    width: 100%;
    padding: 10px;
    background-color: white;
    border: 1px solid lightgray;
    cursor: pointer;
}
a {
    display: block;
    margin-top: 15px;
    text-align: center;
    font-size: 0.9em;
}
.button:hover
{
    border: lightblue 2px solid;
    background-color: blue;
    cursor: pointer;
    animation: pulse-border 1.0s ease infinite;
}
